.service-page{
    text-align: center;
    padding-bottom: 20px;
}

.service-page .col-lg-4 {
    margin-bottom: 5rem;
    text-align: center;
  }
  .service-page h4 {
    font-weight: 400;
    padding-top: 1.5rem;
  }
  .service-page .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }